[Unit]
Description=Fileupload

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fileupload -port=8090 -base=/var/www -hs256=<SECRET>
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
